.login-registration-field select {
  height: 40px;
  padding: 0 10px;
  width: 100%;
  border-radius: 0;
  border: 1px solid #b6b6b6;
  margin-bottom: 15px;
  /*font-weight: 600;*/
}

.login-registration-field .select2-container .select2-selection--single {
  height: 40px;
}
.login-registration-field .select2-container--classic .select2-selection--single {
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  border: 1px solid #b6b6b6;
}
.login-registration-field .select2-container--classic .select2-selection--single .select2-selection__rendered {
  line-height: 40px;
}
.login-registration-field .select2-container--classic .select2-selection--single .select2-selection__arrow {
  top: 7px;
  background-color: transparent;
  background-image: none;
  border-style: none;
  right: 5px;
}
.select2-container--classic .select2-dropdown {
  border: 1px solid #111111 !important;
}
.select2-container--classic .select2-results__option--highlighted[aria-selected] {
  background-color: #111111;
  color: #ffffff;
  font-weight: 600;
}